.divFormato{
    height: 100px;
}

.titGlobal{
    font-size: 20px;
    color: rgb(49, 138, 22);
}
.titPais{
    font-size: 20px;
    color: rgb(49, 138, 22);
}
.barSup{
    background-color: rgb(9, 54, 9);
}